<mat-card class="mat-elevation-z8">
    <mat-card-title>Sobre</mat-card-title>
    <mat-card-subtitle>Autor: Dionlan Alves, desenvolvedor full-stack.</mat-card-subtitle>
    <div>
      Projeto parte do processo seletivo da empresa Evolui Tecnologia.
    </div>
    <br>
    <div>
      Stack utilizada:
    </div>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Spring Boot</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>Heroku</mat-chip>
        <mat-chip color="primary" selected>Java</mat-chip>
        <mat-chip color="accent" selected>Hibernate</mat-chip>
    </mat-chip-list>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-actions>
      <button mat-raised-button color="warn" onClick="window.open('//linkedin.com/in/dionlan')">LinkedIn</button>
      <button mat-raised-button color="success" onClick="window.open('//github.com/dionlan')">Github</button>
    </mat-card-actions>
</mat-card>