<mat-card>
    <mat-card-title>Sobre</mat-card-title>
    <mat-card-subtitle>Dionlan Alves, desenvolvedor full-stack.</mat-card-subtitle>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>Spring Boot</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>MySQL</mat-chip>
        <mat-chip>Heroku</mat-chip>
        <mat-chip color="primary" selected>Java</mat-chip>
        <mat-chip color="accent" selected>Hibernate</mat-chip>
    </mat-chip-list>

    <mat-card-actions>
      <button mat-button onClick="window.open('//linkedin.com/in/dionlan')">LINKEDIN</button>
      <button mat-button onClick="window.open('//github.com/dionlan')">GITHUB</button>
    </mat-card-actions>
</mat-card>